In [258]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [259]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.6.0 |Anaconda 4.3.0 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.19.2
Matplotlib version 2.0.0

In [260]:
read_csv?

In [261]:
Location = r'C:\Users\james\notebooks\DataSet.txt'
df = pd.read_csv(Location)

In [262]:
df

,tr1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,tr2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,tr3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,tr4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,tr5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,tr6,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,tr7,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,tr8,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,tr9,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,tr10,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,tr11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
10,tr12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
11,tr13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
12,tr14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
13,tr15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
14,tr16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
15,tr17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
16,tr18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
17,tr19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
18,tr20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
19,tr21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
20,tr22,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
21,tr23,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
22,tr24,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
23,tr25,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
24,tr26,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25,tr27,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
26,tr28,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
27,tr29,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
28,tr30,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
29,tr31,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30909,tr30911,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
30910,tr30912,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30911,tr30913,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
30912,tr30914,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
30913,tr30915,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
30914,tr30916,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
30915,tr30917,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
30916,tr30918,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
30917,tr30919,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
30918,tr30920,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
30919,tr30921,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
30920,tr30922,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
30921,tr30923,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
30922,tr30924,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
30923,tr30925,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
30924,tr30926,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
30925,tr30927,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
30926,tr30928,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
30927,tr30929,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
30928,tr30930,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
30929,tr30931,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
30930,tr30932,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
30931,tr30933,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
30932,tr30934,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
30933,tr30935,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
30934,tr30936,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30935,tr30937,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30936,tr30938,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30937,tr30939,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30938,tr30940,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [263]:
Location2 = r'C:\Users\james\notebooks\featureNames.txt'
df2 = pd.read_csv(Location2,names=['Names'])

In [264]:
df2

             Names
0               id
1              age
2        workclass
3           fnlwgt
4        education
5    education-num
6   marital-status
7       occupation
8     relationship
9             race
10             sex
11    capital-gain
12    capital-loss
13  hours-per-week
14  native-country
15          target

In [265]:
##Sorted = df2.sort_values(['Names'], ascending=True)
##for i in range(0, 3):

sk = df2.iloc[0]
sk1 = df2.iloc[1]
sk2 = df2.iloc[2]
sk3 = df2.iloc[3]
sk4 = df2.iloc[4]
sk5 = df2.iloc[5]
sk6 = df2.iloc[6]
sk7 = df2.iloc[7]
sk8 = df2.iloc[8]
sk9 = df2.iloc[9]
sk10 = df2.iloc[10]
sk11 = df2.iloc[11] 
sk12 = df2.iloc[12]
sk13 = df2.iloc[13]
sk14 = df2.iloc[14] 
sk15 = df2.iloc[15]

In [266]:
sk
sk1
sk2
sk3
sk4
sk5
sk6
sk7
sk8
sk9
sk10
sk11
sk12
sk13
sk14
sk15

Names    target
Name: 15, dtype: object

In [267]:
one = sk['Names']
two = sk1['Names']
three = sk2['Names']
four = sk3['Names']
five = sk4['Names']
six = sk5['Names']
seven = sk6['Names']
eight = sk7['Names']
nine = sk8['Names']
ten = sk9['Names']
eleven = sk10['Names']
twelve = sk11['Names']
thirteen = sk12['Names']
fourteen = sk13['Names']
fifteen = sk14['Names']
sixteen = sk15['Names']

In [268]:
##one
##two

In [269]:
Location = r'C:\Users\james\notebooks\DataSet.txt'
df = pd.read_csv(Location, names=[one, two, three, four, five, six, seven,eight,nine,ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen])

In [270]:

df

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,tr1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,tr2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,tr3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,tr4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,tr5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,tr6,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,tr7,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,tr8,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,tr9,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,tr10,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,tr11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,tr12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,tr13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,tr14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,tr15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,tr16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,tr17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,tr18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,tr19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,tr20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,tr21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
21,tr22,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
22,tr23,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
23,tr24,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
24,tr25,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
25,tr26,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
26,tr27,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
27,tr28,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
28,tr29,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
29,tr30,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30910,tr30911,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
30911,tr30912,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30912,tr30913,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
30913,tr30914,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
30914,tr30915,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
30915,tr30916,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
30916,tr30917,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
30917,tr30918,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
30918,tr30919,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
30919,tr30920,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
30920,tr30921,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
30921,tr30922,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
30922,tr30923,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
30923,tr30924,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
30924,tr30925,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
30925,tr30926,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
30926,tr30927,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
30927,tr30928,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
30928,tr30929,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
30929,tr30930,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
30930,tr30931,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
30931,tr30932,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
30932,tr30933,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
30933,tr30934,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
30934,tr30935,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
30935,tr30936,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30936,tr30937,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30937,tr30938,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30938,tr30939,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30939,tr30940,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [271]:
df.to_csv('/data/c13446122version1.csv')

In [272]:
age1 = df[ "age"].min()
age2 = df[ "age"].mean()
age3 = df[ "age"].median()
age4 = df[ "age"].max()
age5 = df[ "age"].std()
age6 = df["age"].quantile(.25)
age7 = df["age"].quantile(.75)
age8 = df["age"].count()
age9 = df["age"].unique()

In [273]:
##id1 = df[ "id"].min()
##id2 = df[ "id"].mean()
##id3 = df[ "id"].median()
##id4 = df[ "id"].max()
##id5 = df[ "id"].std()
##id6 = df["id"].quantile(.25)
##id7 = df["id"].quantile(.75)
##id8 = df["id"].count()
##id9 = df['id'].unique()
##these wont work because they are strings

In [274]:
fn1 = df[ "fnlwgt"].min()
fn2 = df[ "fnlwgt"].mean()
fn3 = df[ "fnlwgt"].median()
fn4 = df[ "fnlwgt"].max()
fn5 = df[ "fnlwgt"].std()
fn6 = df["fnlwgt"].quantile(.25)
fn7 = df["fnlwgt"].quantile(.75)
fn8 = df["fnlwgt"].count()
fn9 = df["fnlwgt"].unique()

In [275]:
ed1 = df[ "education-num"].min()
ed2 = df[ "education-num"].mean()
ed3 = df[ "education-num"].median()
ed4 = df[ "education-num"].max()
ed5 = df[ "education-num"].std()
ed6 = df["education-num"].quantile(.25)
ed7 = df["education-num"].quantile(.75)
ed8 = df["education-num"].count()
ed9 = df["education-num"].unique()

In [276]:
cg1 = df[ "capital-gain"].min()
cg2 = df[ "capital-gain"].mean()
cg3 = df[ "capital-gain"].median()
cg4 = df[ "capital-gain"].max()
cg5 = df[ "capital-gain"].std()
cg6 = df["capital-gain"].quantile(.25)
cg7 = df["capital-gain"].quantile(.75)
cg8 = df["capital-gain"].count()
cg9 = df["capital-gain"].unique()

In [277]:
cl1 = df[ "capital-loss"].min()
cl2 = df[ "capital-loss"].mean()
cl3 = df[ "capital-loss"].median()
cl4 = df[ "capital-loss"].max()
cl5 = df[ "capital-loss"].std()
cl6 = df["capital-loss"].quantile(.25)
cl7 = df["capital-loss"].quantile(.75)
cl8 = df["capital-loss"].count()
cl9 = df["capital-loss"].unique()

In [278]:
hp1 = df[ "hours-per-week"].min()
hp2 = df[ "hours-per-week"].mean()
hp3 = df[ "hours-per-week"].median()
hp4 = df[ "hours-per-week"].max()
hp5 = df[ "hours-per-week"].std()
hp6 = df["hours-per-week"].quantile(.25)
hp7 = df["hours-per-week"].quantile(.75)
hp8 = df["hours-per-week"].count()
hp9 = df["hours-per-week"].unique()

In [279]:
features = [one,two,three,four,five, six, seven,eight,nine,ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen]
minimum = ['string',age1, 'string', fn1, 'string', ed1, 'string', 'string', 'string', 'string', 'string', cg1, cl1, hp1, 'string', 'string']
mean = ['string', age2, 'string', fn2, 'string', ed2, 'string', 'string', 'string', 'string', 'string', cg2, cl2, hp2, 'string', 'string']
median = ['string',age3, 'string', fn3 , 'string', ed3, 'string', 'string', 'string', 'string', 'string', cg3, cl3, hp3, 'string', 'string']
Max = ['string',age4, 'string', fn4, 'string', ed4, 'string', 'string', 'string', 'string', 'string', cg4, cl4, hp4, 'string', 'string']
std = ['string',age5, 'string', fn5, 'string', ed5, 'string', 'string', 'string', 'string', 'string',  cg5, cl5, hp5, 'string', 'string']
first_quartile = ['string',age6, 'string', fn6, 'string', ed6, 'string', 'string', 'string', 'string', 'string', cg6, cl6, hp6, 'string', 'string']
third_quartile = ['string',age7, 'string', fn7, 'string', ed7, 'string', 'string', 'string', 'string', 'string', cg7, cl7, hp7, 'string', 'string']
instances = ['string',age8, 'string', fn8, 'string', ed8, 'string', 'string', 'string', 'string', 'string', cg8, cl8, hp8, 'string', 'string' ]
unique = ['string',age9, 'string', fn9, 'string', ed9, 'string', 'string', 'string', 'string', 'string', cg9, cl9, hp9, 'string', 'string' ]

In [280]:
zip?

In [281]:
ca = list(zip(features,minimum, mean,median, Max, std, first_quartile, third_quartile, instances, unique))
ca

[('id',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('age',
  17,
  38.56076276664512,
  37.0,
  90,
  13.639403068811818,
  28.0,
  48.0,
  30940,
  array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
         35, 59, 56, 54, 20, 45, 22, 48, 21, 19, 24, 57, 44, 41, 29, 18, 47,
         46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 58, 26,
         51, 60, 90, 75, 65, 62, 63, 72, 74, 69, 73, 81, 78, 88, 77, 80, 82,
         83, 84, 85, 87], dtype=int64)),
 ('workclass',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('fnlwgt',
  12285,
  189786.4014221073,
  178384.0,
  1484705,
  105406.39438610482,
  117849.0,
  237318.0,
  30940,
  array([ 77516,  83311, 215646, ...,  34066,  84661, 257302], dtype=int64)),
 ('education',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('education-num',
  1,
  10.08125404007757,
  10.0,
  16,
  2.5699668370230184,
  9.0,
  12.0,
  30940,
  array([13,  9,  7, 14,  5, 12, 11,  4, 16, 10, 15,  3,  6,  2,  1,  8], dtype=int64)),
 ('marital-status',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('occupation',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('relationship',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('race',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('sex',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('capital-gain',
  0,
  1081.8129928894634,
  0.0,
  99999,
  7443.773041287165,
  0.0,
  0.0,
  30940,
  array([ 2174,     0, 14084,  5178,  5013,  2407, 14344, 15024, 34095,
          4064,  4386,  7298,  1409,  3674,  1055,  3464,  7688,  2050,
          2176,   594, 20051,  6849,  4101,  1111,  8614,  3411,  2597,
         25236,  4650,  9386,  2463,  3103, 10605,  2964,  3325,  2580,
          3471,  4865, 99999,  6514,  1471,  2329,  2105, 25124, 10520,
          2202,  2961, 27828,  6767,  2228,  1506, 13550,  2635,  5556,
          4787,  3781,  3137,  3818,   914,  2829,  2977,  4934,  2062,
          2354,  5455, 15020,  2885,  1424,  3273, 22040,  4416,  3908,
         10566,   991,  4931,  1086,  7430,  6497,   114,  7896,  2346,
          3418,  3432,  1151,  2414,  2290, 15831, 41310,  4508,  2538,
          3456,  2907,  6418,  1848,  3887,  5721,  9562,  1455,  2036,
          3942,  1831, 11678,  2936,  2993,   401,  7443,  6360,  1797,
          1173,  4687,  6723,  2009,  6097,  2653,  1639, 18481,  7978,
          2387,  5060], dtype=int64)),
 ('capital-loss',
  0,
  86.56997414350356,
  0.0,
  4356,
  401.7060231857947,
  0.0,
  0.0,
  30940,
  array([   0, 1408, 1902, 1573, 1887, 1719, 1762, 1564, 2179, 1816, 1980,
         1876, 1340, 2206, 1741, 1485, 2339, 2415, 1977, 1380, 1721, 2051,
         2377, 1669, 2352, 1672,  653, 2392, 1504, 2001, 1590, 1651, 1628,
         1848, 1740, 2002, 1579, 2258, 1602,  419, 2547, 2174, 2205, 1726,
         2444, 1138, 2238,  625,  213, 1539,  880, 1092, 1594, 3004, 2042,
         2231, 1844, 2824, 2559, 2057, 1974,  974, 2149, 1825, 1735, 1258,
         2129, 2603, 2282,  323, 4356, 2246,  810, 1617, 1648, 2489, 3770,
         1755, 3683, 1668, 2267, 2080, 2457,  155, 3900, 2201, 2467, 2163,
         2754, 2472, 1411], dtype=int64)),
 ('hours-per-week',
  1,
  40.408920491273435,
  40.0,
  99,
  12.336944975043277,
  40.0,
  45.0,
  30940,
  array([40, 13, 16, 45, 50, 30, 35, 60, 80, 52, 44, 15, 25, 38, 43, 55, 48,
         58, 32, 70, 20,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
         34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
         14,  4, 59,  7, 53, 39, 99, 62, 57, 90, 66, 11, 49, 84,  3, 17, 68,
         27, 85, 31, 78, 51, 77, 63, 23, 88, 73, 97, 94, 29, 96, 67, 82, 86,
         91, 81, 76, 92, 61, 74, 95, 89], dtype=int64)),
 ('native-country',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('target',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string')]

In [282]:
df = pd.DataFrame(data = ca, columns=['features', 'minimum', 'mean','median', 'Max', 'std', 'first_quartile', 'third_quartile', 'instances', 'unique'])
df

,features,minimum,mean,median,Max,std,first_quartile,third_quartile,instances,unique
0,id,string,string,string,string,string,string,string,string,string
1,age,17,38.5608,37,90,13.6394,28,48,30940,"[39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 2..."
2,workclass,string,string,string,string,string,string,string,string,string
3,fnlwgt,12285,189786,178384,1484705,105406,117849,237318,30940,"[77516, 83311, 215646, 234721, 338409, 284582,..."
4,education,string,string,string,string,string,string,string,string,string
5,education-num,1,10.0813,10,16,2.56997,9,12,30940,"[13, 9, 7, 14, 5, 12, 11, 4, 16, 10, 15, 3, 6,..."
6,marital-status,string,string,string,string,string,string,string,string,string
7,occupation,string,string,string,string,string,string,string,string,string
8,relationship,string,string,string,string,string,string,string,string,string
9,race,string,string,string,string,string,string,string,string,string
10,sex,string,string,string,string,string,string,string,string,string
11,capital-gain,0,1081.81,0,99999,7443.77,0,0,30940,"[2174, 0, 14084, 5178, 5013, 2407, 14344, 1502..."
12,capital-loss,0,86.57,0,4356,401.706,0,0,30940,"[0, 1408, 1902, 1573, 1887, 1719, 1762, 1564, ..."
13,hours-per-week,1,40.4089,40,99,12.3369,40,45,30940,"[40, 13, 16, 45, 50, 30, 35, 60, 80, 52, 44, 1..."
14,native-country,string,string,string,string,string,string,string,string,string
15,target,string,string,string,string,string,string,string,string,string

In [283]:
df.to_csv('/data/c13446122CONT.csv')

In [284]:
features = [one,two,three,four,five, six, seven,eight,nine,ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen]
mode_fr = ['string',age1, 'string', fn1, 'string', ed1, 'string', 'string', 'string', 'string', 'string', cg1, cl1, hp1, 'string', 'string']
mode_pr = ['string', age2, 'string', fn2, 'string', ed2, 'string', 'string', 'string', 'string', 'string', cg2, cl2, hp2, 'string', 'string']
two_mode_fr = ['string',age3, 'string', fn3 , 'string', ed3, 'string', 'string', 'string', 'string', 'string', cg3, cl3, hp3, 'string', 'string']
two_mode_pr = ['string',age4, 'string', fn4, 'string', ed4, 'string', 'string', 'string', 'string', 'string', cg4, cl4, hp4, 'string', 'string']
pr = ['string',age5, 'string', fn5, 'string', ed5, 'string', 'string', 'string', 'string', 'string',  cg5, cl5, hp5, 'string', 'string']
instances = ['string',age8, 'string', fn8, 'string', ed8, 'string', 'string', 'string', 'string', 'string', cg8, cl8, hp8, 'string', 'string' ]

In [285]:
zip?

In [286]:
ca2 = list(zip(features,mode_fr, mode_pr, two_mode_fr, two_mode_pr, pr, instances))
ca2

[('id', 'string', 'string', 'string', 'string', 'string', 'string'),
 ('age', 17, 38.56076276664512, 37.0, 90, 13.639403068811818, 30940),
 ('workclass', 'string', 'string', 'string', 'string', 'string', 'string'),
 ('fnlwgt',
  12285,
  189786.4014221073,
  178384.0,
  1484705,
  105406.39438610482,
  30940),
 ('education', 'string', 'string', 'string', 'string', 'string', 'string'),
 ('education-num', 1, 10.08125404007757, 10.0, 16, 2.5699668370230184, 30940),
 ('marital-status',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('occupation', 'string', 'string', 'string', 'string', 'string', 'string'),
 ('relationship', 'string', 'string', 'string', 'string', 'string', 'string'),
 ('race', 'string', 'string', 'string', 'string', 'string', 'string'),
 ('sex', 'string', 'string', 'string', 'string', 'string', 'string'),
 ('capital-gain', 0, 1081.8129928894634, 0.0, 99999, 7443.773041287165, 30940),
 ('capital-loss', 0, 86.56997414350356, 0.0, 4356, 401.7060231857947, 30940),
 ('hours-per-week',
  1,
  40.408920491273435,
  40.0,
  99,
  12.336944975043277,
  30940),
 ('native-country',
  'string',
  'string',
  'string',
  'string',
  'string',
  'string'),
 ('target', 'string', 'string', 'string', 'string', 'string', 'string')]

In [287]:
df = pd.DataFrame(data = ca2, columns=['features', 'mode_fr', 'mode_pr', 'two_mode_fr', 'two_mode_pr', 'pr', 'instances'])
df2

             Names
0               id
1              age
2        workclass
3           fnlwgt
4        education
5    education-num
6   marital-status
7       occupation
8     relationship
9             race
10             sex
11    capital-gain
12    capital-loss
13  hours-per-week
14  native-country
15          target

In [288]:
df.to_csv('/data/c13446122CAT.csv')