In [444]:
#Artificial Intelligence Continuous Assessment 2
#James Prendergast
#C13446122
#21/04/2017

# Import all libraries needed for this Assessment

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [445]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.6.0 |Anaconda 4.3.0 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.19.2
Matplotlib version 2.0.0

In [446]:
#this function is used to read files
read_csv?

In [447]:
#this retrieves the "queries.txt" file from the sub directory from the folder data
Location = r'C:/data/queries.txt'
df = pd.read_csv(Location)

In [448]:
#this is calling of the dataframe called df
df

         TEST1  58   JobCat6   married   tertiary  no   2143  yes no.1    unknown   5  may  0  1   -1  0.1 unknown.1  ?
0        TEST2  30   JobCat3    single    primary  no     23  yes  yes    unknown   5  may  0  1   -1    0   unknown  ?
1        TEST3  53   JobCat9   married  secondary  no     -3   no   no    unknown   5  may  0  1   -1    0   unknown  ?
2        TEST4  36   JobCat6    single   tertiary  no    424  yes   no    unknown   5  may  0  1   -1    0   unknown  ?
3        TEST5  53   JobCat9   married  secondary  no    384  yes   no    unknown   5  may  0  1   -1    0   unknown  ?
4        TEST6  28   JobCat9   married  secondary  no    152  yes  yes    unknown   5  may  0  2   -1    0   unknown  ?
5        TEST7  46   JobCat9  divorced  secondary  no     79   no   no    unknown   5  may  0  1   -1    0   unknown  ?
6        TEST8  36   JobCat9    single  secondary  no   1685  yes   no    unknown   5  may  0  1   -1    0   unknown  ?
7        TEST9  54   JobCat3   married    primary  no    348  yes   no    unknown   5  may  0  2   -1    0   unknown  ?
8       TEST10  24  JobCat11    single  secondary  no     82  yes   no    unknown   5  may  0  1   -1    0   unknown  ?
9       TEST11  34  JobCat11   married   tertiary  no    211  yes   no    unknown   5  may  0  2   -1    0   unknown  ?
10      TEST12  43   JobCat6   married   tertiary  no    400  yes   no    unknown   5  may  0  1   -1    0   unknown  ?
11      TEST13  36   JobCat3   married  secondary  no   -390  yes   no    unknown   5  may  0  1   -1    0   unknown  ?
12      TEST14  47   JobCat3   married    primary  no    -12  yes   no    unknown   5  may  0  1   -1    0   unknown  ?
13      TEST15  20   JobCat3    single  secondary  no      0  yes   no    unknown   5  may  0  2   -1    0   unknown  ?
14      TEST16  40   JobCat3   married  secondary  no    475  yes   no    unknown   5  may  0  2   -1    0   unknown  ?
15      TEST17  56   JobCat4  divorced  secondary  no    155   no   no    unknown   5  may  0  3   -1    0   unknown  ?
16      TEST18  35   JobCat6   married   tertiary  no     58  yes   no    unknown   5  may  0  2   -1    0   unknown  ?
17      TEST19  55   JobCat3   married  secondary  no     89  yes   no    unknown   5  may  0  3   -1    0   unknown  ?
18      TEST20  29  JobCat11    single  secondary  no     98  yes   no    unknown   5  may  0  2   -1    0   unknown  ?
19      TEST21  32   JobCat6   married   tertiary  no     46  yes   no    unknown   5  may  0  4   -1    0   unknown  ?
20      TEST22  46  JobCat11    single   tertiary  no    377  yes   no    unknown   5  may  0  2   -1    0   unknown  ?
21      TEST23  48   JobCat3   married    unknown  no    131  yes   no    unknown   6  may  0  1   -1    0   unknown  ?
22      TEST24  43   JobCat3   married  secondary  no   1205  yes   no    unknown   6  may  0  2   -1    0   unknown  ?
23      TEST25  46   JobCat3  divorced    primary  no   1927  yes   no    unknown   6  may  0  3   -1    0   unknown  ?
24      TEST26  30   JobCat6    single   tertiary  no    151  yes   no    unknown   6  may  0  1   -1    0   unknown  ?
25      TEST27  49   JobCat7   married    primary  no     61  yes   no    unknown   6  may  0  1   -1    0   unknown  ?
26      TEST28  40  JobCat11    single  secondary  no   -109  yes  yes    unknown   6  may  0  1   -1    0   unknown  ?
27      TEST29  50   JobCat6   married   tertiary  no    964  yes   no    unknown   6  may  0  1   -1    0   unknown  ?
28      TEST30  27   JobCat3   married  secondary  no      1  yes   no    unknown   6  may  0  1   -1    0   unknown  ?
29      TEST31  24  JobCat11    single  secondary  no    712  yes   no    unknown   6  may  0  1   -1    0   unknown  ?
...        ...  ..       ...       ...        ...  ..    ...  ...  ...        ...  ..  ... .. ..  ...  ...       ... ..
2672  TEST2674  25   JobCat6    single   tertiary  no    592   no   no   cellular   7  sep  0  1  221    3   failure  ?
2673  TEST2675  36  JobCat11   married  secondary  no      0  yes   no   cellular   8  sep  0  1   92    3   success  ?
2674  TEST2676  64   unknown   married    unknown  no   2799   no   no  telephone   9  sep  0  4   -1    0   unknown  ?
2675  TEST2677  64   JobCat2   married    primary  no     48   no   no   cellular   9  sep  0  3   92    1   success  ?
2676  TEST2678  23   JobCat5    single  secondary  no    486   no   no   cellular  13  sep  0  3  199    4   failure  ?
2677  TEST2679  75   JobCat2   married    primary  no   1765   no   no  telephone  14  sep  0  1  187    4   failure  ?
2678  TEST2680  34   JobCat9   married   tertiary  no    376   no   no   cellular  16  sep  0  1   -1    0   unknown  ?
2679  TEST2681  33   JobCat5    single  secondary  no    278   no   no    unknown  21  sep  0  1   -1    0   unknown  ?
2680  TEST2682  23   JobCat6    single   tertiary  no   3902   no   no   cellular  23  sep  0  1   -1    0   unknown  ?
2681  TEST2683  34  JobCat10   married  secondary  no  17458   no   no   cellular  23  sep  0  2   -1    0   unknown  ?
2682  TEST2684  89   JobCat2   married    primary  no      0   no   no  telephone  27  sep  0  5   -1    0   unknown  ?
2683  TEST2685  37   JobCat9   married   tertiary  no    386   no   no   cellular  29  sep  0  2   -1    0   unknown  ?
2684  TEST2686  33   JobCat3   married  secondary  no    137   no  yes    unknown   4  oct  0  1  808   12   failure  ?
2685  TEST2687  32   JobCat6    single   tertiary  no    549   no   no   cellular   6  oct  0  2   -1    0   unknown  ?
2686  TEST2688  58  JobCat11  divorced  secondary  no   3337  yes   no  telephone   8  oct  0  2  690    3   failure  ?
2687  TEST2689  37   JobCat6   married   tertiary  no    839   no  yes   cellular  11  oct  0  2  774   11   failure  ?
2688  TEST2690  75   JobCat2  divorced  secondary  no   1092   no   no  telephone  12  oct  0  1  431    2   failure  ?
2689  TEST2691  24   JobCat9    single  secondary  no    342   no   no   cellular  14  oct  0  2   -1    0   unknown  ?
2690  TEST2692  61   JobCat2   married  secondary  no    938   no   no   cellular  15  oct  0  2   92    5   success  ?
2691  TEST2693  32   JobCat9   married  secondary  no    159  yes   no   cellular  18  oct  0  1   -1    0   unknown  ?
2692  TEST2694  44   JobCat6    single   tertiary  no   1090   no   no   cellular  20  oct  0  4   93    6   success  ?
2693  TEST2695  25  JobCat10    single  secondary  no    771   no   no   cellular  21  oct  0  1  302    3     other  ?
2694  TEST2696  36   JobCat6    single   tertiary  no   1373   no   no   cellular  22  oct  0  4   -1    0   unknown  ?
2695  TEST2697  31  JobCat11   married  secondary  no     51  yes  yes   cellular  25  oct  0  1  284    3   success  ?
2696  TEST2698  23   JobCat5    single  secondary  no   1868   no   no   cellular  26  oct  0  1  103    2     other  ?
2697  TEST2699  28   JobCat6    single   tertiary  no    297   no   no   cellular   8  nov  0  1   -1    0   unknown  ?
2698  TEST2700  61   JobCat1   married    primary  no    182   no   no   cellular   9  nov  0  1   92   13   failure  ?
2699  TEST2701  31  JobCat11    single  secondary  no    690   no   no   cellular  10  nov  0  3  555   16   failure  ?
2700  TEST2702  27   JobCat6    single   tertiary  no    765   no   no   cellular  16  nov  0  1   -1    0   unknown  ?
2701  TEST2703  35   JobCat4   married  secondary  no   2971   no   no   cellular  17  nov  0  2  188   11     other  ?

[2702 rows x 18 columns]

In [449]:
#this retrieves the "datadescription.txt" file from the sub directory from the folder data
Location2 = r'C:/data/datadescription.txt'
df2 = pd.read_csv(Location2,names=['Names'])

In [450]:
#this calls the dataframe again, but it is now called df2
df2

                                                Names
0                                              1 - id
1                                   2 - age (numeric)
2   3 - job : type of job (categorical with 12 lev...
3   4 - marital : marital status (categorical: "ma...
4               5 - education (categorical: "unknown"
5   6 - default: has credit in default? (binary: "...
6                 7 - balance: average yearly balance
7       8 - housing: has housing loan? (binary: "yes"
8         9 - loan: has personal loan? (binary: "yes"
9   10 - contact: contact communication type (cate...
10  11 - day: last contact day of the month (numeric)
11  12 - month: last contact month of year (catego...
12               13 - duration: last contact duration
13  14 - campaign: number of contacts performed du...
14  15 - pdays: number of days that passed by afte...
15  16 - previous: number of contacts performed be...
16  17 - poutcome: outcome of the previous marketi...
17                  Output variable (desired target):
18  18 - y - has the client subscribed a term depo...

In [451]:
#for this we are assigning the values from "datadescription.txt" in their own values
#so they can used as header information
sk = df2.iloc[0]
sk1 = df2.iloc[1]
sk2 = df2.iloc[2]
sk3 = df2.iloc[3]
sk4 = df2.iloc[4]
sk5 = df2.iloc[5]
sk6 = df2.iloc[6]
sk7 = df2.iloc[7]
sk8 = df2.iloc[8]
sk9 = df2.iloc[9]
sk10 = df2.iloc[10]
sk11 = df2.iloc[11] 
sk12 = df2.iloc[12]
sk13 = df2.iloc[13]
sk14 = df2.iloc[14] 
sk15 = df2.iloc[15]
sk16 = df2.iloc[16] 
sk17 = df2.iloc[17]

In [452]:
#this was used to check all the value worked and they stored the information from "datadescription.txt"
sk
sk1
sk2
sk3
sk4
sk5
sk6
sk7
sk8
sk9
sk10
sk11
sk12
sk13
sk14
sk15
sk16
sk17

Names    Output variable (desired target):
Name: 17, dtype: object

In [453]:
#the values are assigned again to make it easier to manage
one = sk['Names']
two = sk1['Names']
three = sk2['Names']
four = sk3['Names']
five = sk4['Names']
six = sk5['Names']
seven = sk6['Names']
eight = sk7['Names']
nine = sk8['Names']
ten = sk9['Names']
eleven = sk10['Names']
twelve = sk11['Names']
thirteen = sk12['Names']
fourteen = sk13['Names']
fifteen = sk14['Names']
sixteen = sk15['Names']
seventeen = sk16['Names']
eighteen = sk15['Names']

In [454]:
# Always display all the columns
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

In [455]:
#this calls to read from the file "queries.txt" again from the sub-directory data now with the header we have assigned
Location = r'C:/data/queries.txt'
df = pd.read_csv(Location, names=[one, two, three, four, five, six, seven,eight,nine,ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen])

In [456]:
#this calls the dataframe now with the added headers
df

        1 - id  2 - age (numeric) 3 - job : type of job (categorical with 12 levels: 'JobCat1' to 'JobCat11' 4 - marital : marital status (categorical: "married" 5 - education (categorical: "unknown" 6 - default: has credit in default? (binary: "yes"  7 - balance: average yearly balance 8 - housing: has housing loan? (binary: "yes" 9 - loan: has personal loan? (binary: "yes" 10 - contact: contact communication type (categorical: "unknown"  11 - day: last contact day of the month (numeric) 12 - month: last contact month of year (categorical: "jan"  13 - duration: last contact duration  14 - campaign: number of contacts performed during this campaign and for this client (numeric  15 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric  16 - previous: number of contacts performed before this campaign and for this client (numeric) 17 - poutcome: outcome of the previous marketing campaign (categorical: "unknown" 16 - previous: number of contacts performed before this campaign and for this client (numeric).1
0        TEST1                 58                                            JobCat6                                                                    married                                tertiary                                                 no                                 2143                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
1        TEST2                 30                                            JobCat3                                                                     single                                 primary                                                 no                                   23                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
2        TEST3                 53                                            JobCat9                                                                    married                               secondary                                                 no                                   -3                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
3        TEST4                 36                                            JobCat6                                                                     single                                tertiary                                                 no                                  424                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
4        TEST5                 53                                            JobCat9                                                                    married                               secondary                                                 no                                  384                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
5        TEST6                 28                                            JobCat9                                                                    married                               secondary                                                 no                                  152                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
6        TEST7                 46                                            JobCat9                                                                   divorced                               secondary                                                 no                                   79                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
7        TEST8                 36                                            JobCat9                                                                     single                               secondary                                                 no                                 1685                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
8        TEST9                 54                                            JobCat3                                                                    married                                 primary                                                 no                                  348                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
9       TEST10                 24                                           JobCat11                                                                     single                               secondary                                                 no                                   82                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
10      TEST11                 34                                           JobCat11                                                                    married                                tertiary                                                 no                                  211                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
11      TEST12                 43                                            JobCat6                                                                    married                                tertiary                                                 no                                  400                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
12      TEST13                 36                                            JobCat3                                                                    married                               secondary                                                 no                                 -390                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
13      TEST14                 47                                            JobCat3                                                                    married                                 primary                                                 no                                  -12                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
14      TEST15                 20                                            JobCat3                                                                     single                               secondary                                                 no                                    0                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
15      TEST16                 40                                            JobCat3                                                                    married                               secondary                                                 no                                  475                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
16      TEST17                 56                                            JobCat4                                                                   divorced                               secondary                                                 no                                  155                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  3                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
17      TEST18                 35                                            JobCat6                                                                    married                                tertiary                                                 no                                   58                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?

In [457]:
#this writes the solution to a file in a subdirectory called "solution", in this directory the file "C13446122.txt" is created
#this is only for temporary to make sure it was saved correctly
df.to_csv('/solution/C13446122.txt')

In [458]:
#this will show the first five values from the dataframe to quickly check
df[:5]

  1 - id  2 - age (numeric) 3 - job : type of job (categorical with 12 levels: 'JobCat1' to 'JobCat11' 4 - marital : marital status (categorical: "married" 5 - education (categorical: "unknown" 6 - default: has credit in default? (binary: "yes"  7 - balance: average yearly balance 8 - housing: has housing loan? (binary: "yes" 9 - loan: has personal loan? (binary: "yes" 10 - contact: contact communication type (categorical: "unknown"  11 - day: last contact day of the month (numeric) 12 - month: last contact month of year (categorical: "jan"  13 - duration: last contact duration  14 - campaign: number of contacts performed during this campaign and for this client (numeric  15 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric  16 - previous: number of contacts performed before this campaign and for this client (numeric) 17 - poutcome: outcome of the previous marketing campaign (categorical: "unknown" 16 - previous: number of contacts performed before this campaign and for this client (numeric).1
0  TEST1                 58                                            JobCat6                                                                    married                                tertiary                                                 no                                 2143                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
1  TEST2                 30                                            JobCat3                                                                     single                                 primary                                                 no                                   23                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
2  TEST3                 53                                            JobCat9                                                                    married                               secondary                                                 no                                   -3                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
3  TEST4                 36                                            JobCat6                                                                     single                                tertiary                                                 no                                  424                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?
4  TEST5                 53                                            JobCat9                                                                    married                               secondary                                                 no                                  384                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?

In [459]:
#this will create a new column called "Outlier", this was needed as I had problems creating other column when I commented this out 
df['Outlier'] = True
df

        1 - id  2 - age (numeric) 3 - job : type of job (categorical with 12 levels: 'JobCat1' to 'JobCat11' 4 - marital : marital status (categorical: "married" 5 - education (categorical: "unknown" 6 - default: has credit in default? (binary: "yes"  7 - balance: average yearly balance 8 - housing: has housing loan? (binary: "yes" 9 - loan: has personal loan? (binary: "yes" 10 - contact: contact communication type (categorical: "unknown"  11 - day: last contact day of the month (numeric) 12 - month: last contact month of year (categorical: "jan"  13 - duration: last contact duration  14 - campaign: number of contacts performed during this campaign and for this client (numeric  15 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric  16 - previous: number of contacts performed before this campaign and for this client (numeric) 17 - poutcome: outcome of the previous marketing campaign (categorical: "unknown" 16 - previous: number of contacts performed before this campaign and for this client (numeric).1 Outlier
0        TEST1                 58                                            JobCat6                                                                    married                                tertiary                                                 no                                 2143                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
1        TEST2                 30                                            JobCat3                                                                     single                                 primary                                                 no                                   23                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
2        TEST3                 53                                            JobCat9                                                                    married                               secondary                                                 no                                   -3                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
3        TEST4                 36                                            JobCat6                                                                     single                                tertiary                                                 no                                  424                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
4        TEST5                 53                                            JobCat9                                                                    married                               secondary                                                 no                                  384                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
5        TEST6                 28                                            JobCat9                                                                    married                               secondary                                                 no                                  152                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
6        TEST7                 46                                            JobCat9                                                                   divorced                               secondary                                                 no                                   79                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
7        TEST8                 36                                            JobCat9                                                                     single                               secondary                                                 no                                 1685                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
8        TEST9                 54                                            JobCat3                                                                    married                                 primary                                                 no                                  348                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
9       TEST10                 24                                           JobCat11                                                                     single                               secondary                                                 no                                   82                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
10      TEST11                 34                                           JobCat11                                                                    married                                tertiary                                                 no                                  211                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
11      TEST12                 43                                            JobCat6                                                                    married                                tertiary                                                 no                                  400                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
12      TEST13                 36                                            JobCat3                                                                    married                               secondary                                                 no                                 -390                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
13      TEST14                 47                                            JobCat3                                                                    married                                 primary                                                 no                                  -12                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
14      TEST15                 20                                            JobCat3                                                                     single                               secondary                                                 no                                    0                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
15      TEST16                 40                                            JobCat3                                                                    married                               secondary                                                 no                                  475                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True
16      TEST17                 56                                            JobCat4                                                                   divorced                               secondary                                                 no                                  155                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  3                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True

In [460]:
#we create a new dataframe called newdf and copies everything from df
newdf = df.copy()
#we are creating a new dataframe called Prediction, this is where we will be using the data classifier to help make our predictions
# for this in the columnn Prediction, we call True everything an id had education of tertiary.
#this was used as the predictions as we can assume people who had a higher education has higher chances in life and will
#used to represent predictions
newdf['Prediction'] = abs(newdf['5 - education (categorical: "unknown"'] == "tertiary")
#this calls the datafram newdf
newdf

        1 - id  2 - age (numeric) 3 - job : type of job (categorical with 12 levels: 'JobCat1' to 'JobCat11' 4 - marital : marital status (categorical: "married" 5 - education (categorical: "unknown" 6 - default: has credit in default? (binary: "yes"  7 - balance: average yearly balance 8 - housing: has housing loan? (binary: "yes" 9 - loan: has personal loan? (binary: "yes" 10 - contact: contact communication type (categorical: "unknown"  11 - day: last contact day of the month (numeric) 12 - month: last contact month of year (categorical: "jan"  13 - duration: last contact duration  14 - campaign: number of contacts performed during this campaign and for this client (numeric  15 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric  16 - previous: number of contacts performed before this campaign and for this client (numeric) 17 - poutcome: outcome of the previous marketing campaign (categorical: "unknown" 16 - previous: number of contacts performed before this campaign and for this client (numeric).1 Outlier Prediction
0        TEST1                 58                                            JobCat6                                                                    married                                tertiary                                                 no                                 2143                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True       True
1        TEST2                 30                                            JobCat3                                                                     single                                 primary                                                 no                                   23                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
2        TEST3                 53                                            JobCat9                                                                    married                               secondary                                                 no                                   -3                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
3        TEST4                 36                                            JobCat6                                                                     single                                tertiary                                                 no                                  424                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True       True
4        TEST5                 53                                            JobCat9                                                                    married                               secondary                                                 no                                  384                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
5        TEST6                 28                                            JobCat9                                                                    married                               secondary                                                 no                                  152                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
6        TEST7                 46                                            JobCat9                                                                   divorced                               secondary                                                 no                                   79                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
7        TEST8                 36                                            JobCat9                                                                     single                               secondary                                                 no                                 1685                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
8        TEST9                 54                                            JobCat3                                                                    married                                 primary                                                 no                                  348                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
9       TEST10                 24                                           JobCat11                                                                     single                               secondary                                                 no                                   82                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
10      TEST11                 34                                           JobCat11                                                                    married                                tertiary                                                 no                                  211                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True       True
11      TEST12                 43                                            JobCat6                                                                    married                                tertiary                                                 no                                  400                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True       True
12      TEST13                 36                                            JobCat3                                                                    married                               secondary                                                 no                                 -390                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
13      TEST14                 47                                            JobCat3                                                                    married                                 primary                                                 no                                  -12                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
14      TEST15                 20                                            JobCat3                                                                     single                               secondary                                                 no                                    0                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
15      TEST16                 40                                            JobCat3                                                                    married                               secondary                                                 no                                  475                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False
16      TEST17                 56                                            JobCat4                                                                   divorced                               secondary                                                 no                                  155                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  3                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      False

In [461]:
#for this we are replacing the true and false values in the Prediction column with TypeA and TypeB, this
#data will be used to make our predictions
newdf
newdf['Prediction'].replace(True, 'TypeA',inplace=True)
newdf['Prediction'].replace(False, 'TypeB',inplace=True)
newdf

        1 - id  2 - age (numeric) 3 - job : type of job (categorical with 12 levels: 'JobCat1' to 'JobCat11' 4 - marital : marital status (categorical: "married" 5 - education (categorical: "unknown" 6 - default: has credit in default? (binary: "yes"  7 - balance: average yearly balance 8 - housing: has housing loan? (binary: "yes" 9 - loan: has personal loan? (binary: "yes" 10 - contact: contact communication type (categorical: "unknown"  11 - day: last contact day of the month (numeric) 12 - month: last contact month of year (categorical: "jan"  13 - duration: last contact duration  14 - campaign: number of contacts performed during this campaign and for this client (numeric  15 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric  16 - previous: number of contacts performed before this campaign and for this client (numeric) 17 - poutcome: outcome of the previous marketing campaign (categorical: "unknown" 16 - previous: number of contacts performed before this campaign and for this client (numeric).1 Outlier Prediction
0        TEST1                 58                                            JobCat6                                                                    married                                tertiary                                                 no                                 2143                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeA
1        TEST2                 30                                            JobCat3                                                                     single                                 primary                                                 no                                   23                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
2        TEST3                 53                                            JobCat9                                                                    married                               secondary                                                 no                                   -3                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
3        TEST4                 36                                            JobCat6                                                                     single                                tertiary                                                 no                                  424                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeA
4        TEST5                 53                                            JobCat9                                                                    married                               secondary                                                 no                                  384                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
5        TEST6                 28                                            JobCat9                                                                    married                               secondary                                                 no                                  152                                           yes                                         yes                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
6        TEST7                 46                                            JobCat9                                                                   divorced                               secondary                                                 no                                   79                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
7        TEST8                 36                                            JobCat9                                                                     single                               secondary                                                 no                                 1685                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
8        TEST9                 54                                            JobCat3                                                                    married                                 primary                                                 no                                  348                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
9       TEST10                 24                                           JobCat11                                                                     single                               secondary                                                 no                                   82                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
10      TEST11                 34                                           JobCat11                                                                    married                                tertiary                                                 no                                  211                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeA
11      TEST12                 43                                            JobCat6                                                                    married                                tertiary                                                 no                                  400                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeA
12      TEST13                 36                                            JobCat3                                                                    married                               secondary                                                 no                                 -390                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
13      TEST14                 47                                            JobCat3                                                                    married                                 primary                                                 no                                  -12                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  1                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
14      TEST15                 20                                            JobCat3                                                                     single                               secondary                                                 no                                    0                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
15      TEST16                 40                                            JobCat3                                                                    married                               secondary                                                 no                                  475                                           yes                                          no                                            unknown                                                                5                                                may                                             0                                                  2                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB
16      TEST17                 56                                            JobCat4                                                                   divorced                               secondary                                                 no                                  155                                            no                                          no                                            unknown                                                                5                                                may                                             0                                                  3                                                                                             -1                                                                                                                0                                                                                         unknown                                                                                 ?                                                  True      TypeB

In [462]:
#for this we are creating a new dataframe based on the columns of id and predictions and then calling
#the dataframe
test_ed = newdf[['1 - id','Prediction']]
test_ed

        1 - id Prediction
0        TEST1      TypeA
1        TEST2      TypeB
2        TEST3      TypeB
3        TEST4      TypeA
4        TEST5      TypeB
5        TEST6      TypeB
6        TEST7      TypeB
7        TEST8      TypeB
8        TEST9      TypeB
9       TEST10      TypeB
10      TEST11      TypeA
11      TEST12      TypeA
12      TEST13      TypeB
13      TEST14      TypeB
14      TEST15      TypeB
15      TEST16      TypeB
16      TEST17      TypeB
17      TEST18      TypeA
18      TEST19      TypeB
19      TEST20      TypeB
20      TEST21      TypeA
21      TEST22      TypeA
22      TEST23      TypeB
23      TEST24      TypeB
24      TEST25      TypeB
25      TEST26      TypeA
26      TEST27      TypeB
27      TEST28      TypeB
28      TEST29      TypeA
29      TEST30      TypeB
...        ...        ...
2673  TEST2674      TypeA
2674  TEST2675      TypeB
2675  TEST2676      TypeB
2676  TEST2677      TypeB
2677  TEST2678      TypeB
2678  TEST2679      TypeB
2679  TEST2680      TypeA
2680  TEST2681      TypeB
2681  TEST2682      TypeA
2682  TEST2683      TypeB
2683  TEST2684      TypeB
2684  TEST2685      TypeA
2685  TEST2686      TypeB
2686  TEST2687      TypeA
2687  TEST2688      TypeB
2688  TEST2689      TypeA
2689  TEST2690      TypeB
2690  TEST2691      TypeB
2691  TEST2692      TypeB
2692  TEST2693      TypeB
2693  TEST2694      TypeA
2694  TEST2695      TypeB
2695  TEST2696      TypeA
2696  TEST2697      TypeB
2697  TEST2698      TypeB
2698  TEST2699      TypeA
2699  TEST2700      TypeB
2700  TEST2701      TypeB
2701  TEST2702      TypeA
2702  TEST2703      TypeB

[2703 rows x 2 columns]

In [463]:
#this new dataframe is then written and saved to a text file in a sub-directory called "solution"
test_ed.to_csv('/solution/C13446122.txt')